body {
	background-color: #aeaeae;
	margin: 0;
	padding: 0;
	font-size: 17px;
	font-family: "Arial", "Verdana", serif;
}

.title {
	padding: 2% 0%;
	background-color: white;
	text-align: center;
	font-size: 1.1em;
}

/* Navigation Bar */

#myNavbar {
	float: right;
	padding-right: 20%
}
.navbar {
	padding-left: 10%;
	border-radius: 0;
}
.navbar-default {
	background-color: #aeaeae;
	border-color: #6b9fd0;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default .navbar-brand:hover {
	color: #151313;
}
.navbar-default .navbar-text {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #151313;
}
.navbar-default .navbar-toggle {
	border-color: #6b9fd0;
}
.navbar-default .navbar-toggle:hover {
	background-color: #6b9fd0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #ffffff;
}
.navbar-default .navbar-link {
	color: #ffffff;
}
.navbar-default .navbar-link:hover {
	color: #151313;
}

@media (max-width: 767px) {
	.navbar {
		padding: 0;
	}
}

/* Hello Div */

#Hello {
	background-color: #33ccff;
	padding: 3% 25%;
	margin-top: -20px;
	line-height: 200%;
}
#helloHello {
	font-size: 500%;
	line-height: 120%;
	color: white;
	background-color: black;
}
#helloName {
	font-size: 300%;
	color: white;
	line-height: 140%;
	background-color: black;
}
#helloTraits {
	background-color: black;
	color: white;
	font-size: 200%;
}

/* Skills Div */

#Skills {
	font-size: 1.1em;
	padding-bottom: 100px;
}
#skillsBrackets {
	width: 50%;
	float: left;
	padding-right: 5%;
	padding-top: 50px;
}
#skillsBrackets img {
	float: right;
	width: 100%;
}
#skillsBracketsText {
	float: right;
	width: 100%;
	margin-top: 20px;
}
#skillsBracketsText p {
	text-align: center;
	width: 309px;
	float: right;
}
#skillsSoftware {
	width: 50%;
	float: right;
	padding-left: 5%;
	padding-top: 50px;
}
#skillsSoftware img {
	width: 100%;
	float: left;
}
#skillsSoftwareText {
	float: left;
	width: 100%;
	margin-top: 20px;
}
#skillsSoftwareText p {
	text-align: center;
	width: 300px;
}

/* Projects */

.divProjects {
	width: 1300px;
	margin: auto;
	padding-bottom: 500px;
}
